html, body {
	max-width: 100%;
	overflow-x: hidden;
}

body {
	scroll-behavior: smooth;
	box-sizing: border-box;
	background-color: #212529;
	color: white;

	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
	padding-top: 70px;
}

/* LINKS */
.navbar-nav .nav-link {
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;
	color: white;
	transition: color 0.3s ease, transform 0.3s ease;
}

/* hover */
.navbar-nav .nav-link:hover {
	color: #FFD700;
	transform: translateY(-3px);
}

.carousel-item {
	position: relative;
}

.carousel-img {
	height: 80vh;
	object-fit: cover;
}

@media (max-width: 768px) {
	.carousel-img {
		height: 40vh;
		object-fit: cover;
	}
}

.custom-caption {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: gold;	
	pointer-events: none;
}

.custom-caption a {
	pointer-events: auto;
}

.hover-anim {
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-anim:hover {
	transform: scale(1.05);
	box-shadow: 0 10px 30px 10px rgba(0, 0, 0, 0.2);
}		

.hover-anim-logo {
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	transform: scale(1.7);
}

.hover-anim-logo:hover {
	transform: scale(2);
}		

.card-body {
	cursor: pointer;
}

.navbar-brand {
	flex: 0 0 15%;
	max-width: 15%;
}

.navbar-brand img {
	max-width: 50%;
	height: auto;
}
			
@media (max-width: 991px) {
	.navbar-brand {
		flex: 0 0 auto;
		max-width: 100px;
	}
}

.background-div {
	background-color: #DCDCDC;
}

.text-s {
	font-size: 10px;
}

.carousel-indicators [data-bs-target] {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: white;
	border: none;
	margin: 0 4px;
	opacity: 1;
}

.carousel-indicators .active {
	background-color: gold;
}

.whatsapp-float {
	position: fixed;
	bottom: 10vh;
	right: 3vh;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	z-index: 999;
}

.whatsapp-btn {
	width: 80px;
	height: 80px;
	background-color: #25d366;
	color: black;
	border-radius: 50%;
	font-size: 45px;
	text-decoration: none;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
	position: relative;
	z-index: 2;
}

.whatsapp-text {
	margin-right: 10px;
	background: black;
	color: white;
	padding: 8px 14px;
	border-radius: 20px;
	font-size: 14px;
	white-space: nowrap;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

	opacity: 0;
	transform: translateX(10px);
	pointer-events: none;
	transition: all 0.3s ease;
}

.whatsapp-btn:hover + .whatsapp-text {
	opacity: 1;
	transform: translateX(0);
}

.hover-anim-whatssap {
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	transform: scale(1);
}

.hover-anim-whatssap:hover {
	transform: scale(1.1);
}

@media (max-width: 991px) {
	.whatsapp-float {
		bottom: 1vh;
	}

	.whatsapp-btn {
		width: 60px;
		height: 60px;
		font-size: 32px;
	}

	.whatsapp-text {
		display: none;
	}
}

.email-box {
	width: 50vh;
}

.text-area {
	width: 50vh;
}

section {
	scroll-margin-top: 100px;
}

@media (max-width: 768px) {
	#contato {
		text-align: center;
	}

	#contato h2 {
		text-align: center;
	}

	#contato h4 {
		font-size: 1rem;
	}

	#contato h4 {
		word-break: break-word;
	}

	.sobre-p {
		font-size: 15px;
		word-break: break-word;
	}

	#contato .row {
		margin-right: 0px;
		margin-left: 0px;
	}
}